@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900,700,500');

body {
    background-image: url("DARKHALLWAY.jpg");
	background-size: cover;
	background-attachment: fixed;
    
    padding: 50px 0px;
    background-color: lightgray;
    margin: 0 auto;
    width: 400px; 
    
    font-family: 'Roboto', sans-serif;
    padding-bottom: 30px;
    color: ;
}

.form-container {
    width: 100%;
    text-align: center;
}

.personal-info {
    background-color: navy;
    color: white;
    padding: 1px 0px;
    text-align: center;
}

.card-info {
    background-color: slategrey;
    color: white;
    padding: 0.5px; 
    text-align: center;
}

input {
    margin: 1px 0px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="number"], select {
    display: block;
    height: 35px;
    width: 387px;
    padding-left: 10px;
    border: none;
    font-size: 12px; 
}

input[type="submit"] {
    display: block;
    height: 45px;
    width: 100%;
    border: none;
    color: white;
    background-color: #3d4f87;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

input[type="submit"]:hover {
    transition: 0.5s ease;
    background-color: #8594c7;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    
    background-color: white;
}

#city {
    width: 33.4%;
    float: left;
    margin-right: 2px; 
}

#zipcode {
    width: 31%;
    float: right; 
}

#street-address, #email-address, #phone-num, #card-num, #card-name {
    width: 97.4%;
}

#state {
    width: 29%;
    float: left;
    margin-top: 1.79px;
    border-radius: 0px;
    color: #AAAAAA; 
    height: 36px;
}

#exp-date {
    width: 50%;
    float: left;
    height: 40px; 
}

#exp-month, #exp-year {
    width: 44.8%;
    float: left;
    margin-top: 1px;
    border-radius: 0px;
    color: #AAAAAA;
    height: 37px;
}

#exp-slash {
    float: left;  
    font-size: 25px;
    padding: 5px;
    color: white;
}

#cvc {
    width: 47%;
    float: right;
}

/* ----- CARD TYPE ----- */

#card-type {
    float: right;
}

#visa-card, #master-card, #amex-card, #discover-card {
    float: right;
    padding: 8px;
    font-weight: bold;
}

#visa-card {
    border: 2px solid rgba(252, 133, 10, 1);;
    background-color: rgba(252, 255, 255, 0.9);
    color: rgba(12, 33, 116, 1);
}

#master-card {
    border: 2px solid rgba(0, 0, 83, 1);;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(252, 134, 10, 1);
}

span {
    color: rgba(190, 0, 6, 1);
}

#amex-card {
    border: 2px solid rgba(255, 255, 255, 1);
    background-color: rgba(78, 179, 232, 1);
    color: rgba(255, 255, 255, 1);
}

#discover-card {
    border: 2px solid rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(251, 77, 9, 1);
}

/* ----- CARD LAYOUT ----- */
.front, .back {
    position: absolute;
    font-family: monospace;
}

.bank-name {
    position: absolute;
    text-align: right;
    padding: 30px; 
    right: 0; 
    font-size: 30px;
    font-weight: bold; 
}

.chip {
    position: absolute;
    padding: 25px;
    margin-top: 40px; 
}

.chip img {
    width: 70px; 
}

.card-number {
    position: absolute;
    font-size: 28px;
    padding: 15px; 
    text-align: left;
    margin-top: 120px;
    margin-left: 15px;
}

.card-name {
    position: absolute;
    float: left;
    text-align: left;
    padding: 10px;
    margin-left: 25px;
    width: 43%; 
    font-size: 18px;
    bottom: 20px; 
    text-transform: uppercase;
}

.valid-thru {
    position: absolute;
    float: left;
    width: 10%; 
    text-align: justify;
    font-size: 10px;
    bottom: 27px;
    right: 120px; 
}

.exp-date {
    position: absolute;
    float: right;
    padding: 10px;
    text-align: left;
    width: 15%;
    font-size: 18px;
    bottom: 20px;
    right: 0;
}

#expmonth {
    position: absolute;
    right: 90px;
    bottom: 10px;
}

#expslash {
    position: absolute;
    right: 75px; 
    bottom: 10px;
}

#expyear {
    position: absolute;
    right: 50px;
    bottom: 10px;
}

.back-strip {
    position: relative; 
    background-color: black;
    height: 55px;
    margin-top: 25px;
}

.info-strip {
    position: relative;
    float: left;
    background-color: white;
    border-radius: 30px;
    height: 40px;
    margin-top: 20px;
    margin-left: 30px;
    width: 280px; 
}

.cvc {
    position: relative;
    text-align: left;
    margin-top: 33px;
    float: right;
    margin-right: 15px; 
    width: 50px; 
}


/* ----- CARD ANIMATION ----- */

.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    
    padding: 10px; 
    margin: 0 auto; 
    background-color: white;
}

.flipped {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flipper {
    -webkit-transition: 0.5s;
    -webkit-transform-style: preserve-3d;
    
    -moz-transition: 0.5s;
    -moz-transform-style: preserve-3d;
    
    -o-transition: 0.5s;
    -o-transform-style: preserve-3d;
    
    transition: 0.5s;
    transform-style: preserve-3d;
    
    position: relative;
}

.flip-container{
    height: 250px;
    overflow: hidden;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    
    width: 380px;
    height: 250px;
    overflow: hidden;
}

.front {
    background-color: #d9dae0;
    z-index: 2;
}

.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    
    background-color: #b5c3d2;
}
