body {
	background-image: url("DARKHALLWAY.jpg");
	background-size: cover;
	font-family: Lucida Sans Typewriter, Consolas;
}

#wrapper {
	width: 100%;
}

#login {
	width: 300px;
	height: 210px;
	background-image: url("transparentblack.png");
	background-attachment: repeat;
	border-radius: 50px;
	margin-left: auto;
	margin-right: auto;
}

#register {
	width: 45vw;
	height: 80vh;
	background-image: url("transparentblack.png");
	background-attachment: repeat;
	border-radius: 50px;
	margin-left: auto;
	margin-right: auto;
}

#menu {
	width: 90vw;
	height: 15vh;
	border-radius: 50px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	height: 15vh;
	width: 100%;
	background-image: url("transparentblack.png");
	background-attachment: repeat;
	z-index: 999;
}

#menu_body {
	height: 90vh;
	width: 70%;
	border-radius: 50px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 70px;
	background-image: url("transparentblack.png");
	background-attachment: repeat;
}

a {
	color: white;
}

h1 {
	color: white;
	text-align: center;
}

h4 {
	color: #767676;
	text-align: center;
}

h1.welcome_bar {
	color: white;
	text-align: center;
	font-size: 45px;
	padding: 20px;
}

h4 {
	color: white;
	text-align: center;
}

p {
	text-align: center;
	color: white;
	padding-top: 15px;
}

img {
	height: 200px;
	width: 200px;
	padding: 5px;
}